page-login {
    img{
            
        border: none !important;
        margin-bottom: 16px !important;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center; 
        padding: 2%;
        
        

        
        input-wrapper{
            text-align: center;
        }
        
    }
    .container{
        
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 50px;
        >*{
            margin-bottom: 25px;
        }

    .submit-button{
        width: 100%;
    }
    }
    .ion-img{
        align-items: center;
    }

    
}