page-search-view {
    
    ion-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: none !important;

        ion-img{
            
            border: none !important;
            margin-bottom: 16px !important;
            width: 100%;
            height: 100%;
            
            

            
            input-wrapper{
                text-align: center;
            }
            
        }
        ion-item{
            border: none !important;
        }
        h2{
            align-content: center;
            height: 100%;
            width: 100%;
        }
    }

}
